*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
    background-color: #22BABB;

}

h1{
    color: #F24405;
    text-align: center;
    display: block;
    font-size: 3em;
    margin-block-start: 0.80em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.tarefas{
    margin: 10px auto;
    max-width: 700px;
    background-color:#9EF8EE;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font: 20px;
    


}
